<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }

        function test() {
            let token = document.getElementById("token").dataset.token;
            token.select();
            token.setSelectionRange(0, 99999);
            document.execCommand("copy");
        }
    </script>
</head>
<body>
    <p>
        This is an automated password reset message from Musicly.<br>
        Ignore it if you did not start the password reset procedure.
    </p>
    <p>
        <b>Copy and paste the token below into your application.</b><br>
        <a id="token" href="javascript:void(0);">
            {{ token }}
        </a>
    </p>
</body>
</html>

